# Node
node_modules/
dist/
build/
.vite/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env
.env.local

# DB
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
backend/data/

# OS
.DS_Store

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
